html, body
  height: 100%
  width: 100%

body
  z-index: 2
  background: #fff
  color: #333
  &.index
    color: #FFF
    background: image-url('startup.jpg')
    background-size: cover
    .background
      filter: blur(0px)
.fader
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 1
  display: block
  content: ''
  width: 100%
  background: rgba(9,9,9,.5)

.logo
  font-size: 28px
  margin: 20px 0 0 25px
  a
    text-decoration: none
    color: #333
    transition: color .2s ease
    &:hover
      color: #ffc107
  i
    font-size: 32px
    cursor: pointer

.header
  position: fixed
  width: 100%
  z-index: 3
  text-align: center
  font-size: 1.4rem
  color: #fff
  padding: 10px
  font-weight: 500
  .container
    position: relative
  .icon-options
    float: left
    color: #fff
    text-decoration: none
    font-size: 20px
    margin-top: 2px
    transition: color .2s ease
    &:hover
      color: rgba(255,255,255,.9)
  .likes
    position: absolute
    top: 2px
    right: 0

.container
  max-width: 1000px
  min-width: 320px
  margin: 0 auto

.content
  position: absolute
  z-index: 2
  top: 0
  left: 0
  height: 100%
  width: 100%

.background
  position: absolute
  left: 0
  background: image-url('startup.jpg')
  min-height: 100%
  background-size: cover
  height: auto
  width: 100%
  opacity: .075
  &.blured
    filter: blur(1px)

.footer
  overflow: hidden
  padding: 20px 25px
  border-top: 1px solid #eee
  color: #999
  line-height: 28px
  background: #f3f3f3
  font-size: 13px
  .icon-heart
    color: #FF5A60
    position: relative
    top: 1px
  a
    font-size: 15px
    text-decoration: none
    color: #333
    &:hover
      color: #000
  .facebook-link, .twitter-link, .google-link, .pinterest-link
    color: #aaa
    display: inline-block
    border: 1px solid #aaa
    width: 28px
    height: 28px
    padding: 6px 0
    border-radius: 50%
    text-align: center
    transition: color .3s ease, border-color .3s ease
    &:hover
      border-color: #333
      color: #333

@media screen and (max-width: 500px)
  .header .pinterest-link
    display: none

@media screen and (max-width: 400px)
  .header .google-link
    display: none

@media screen and (max-width: 480px)
  .footer
    padding: 20px 10px
    .facebook-link, .twitter-link, .google-link, .pinterest-link
      margin-right: 5px
  .mobile-off
    display: none
