* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
	top: 0;
  overflow: hidden;
}

article {
	position: absolute;
	top: 56px;
	right: 0;
	left: 0;
	bottom: 0;
}

section {
	transform: none;
	/*background: #fff;*/
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -180px;
	opacity: 0;
}
body,
section.bespoke-slide {
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
section.bespoke-active {
	opacity: 1;
	z-index: 1;
}
section .date {
  font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
}
section .details {
  min-height: 135px;
  line-height: 2rem;
  font-size: 22px;
}
