.button
  display: inline-block
  background: #ffc107
  padding: 15px 30px
  text-transform: uppercase
  color: #000
  font-weight: 400
  border: 3px #ffc107 solid
  text-decoration: none
  border-radius: 2px
  transition: background 0.4s ease, color 0.4s ease, transform 0.4s ease
  &:hover
    background: rgba(255, 193, 7, .2)
    color: #FFF
    transform: scale(1.1)
