.newsletter
  max-width: 440px
  margin: 0 auto 50px auto
  h2
    text-align: center
    margin-bottom: 15px
  .fields
    text-align: center
  input[type="email"]
    border: 2px solid #ffc107
    border-radius: 2px
    outline: none
    width: 285px
    padding: 10px
  .button
    padding: 9px
    outline: none
    &:hover
      transform: none
      color: #000
      background: lighten(#ffc107, 15%)
    &:active
      border-color: lighten(#ffc107, 15%)
  .error-container
    height: 20px
    color: #ffc107
  .success, .error
    display: none
    text-align: center

@media screen and (max-width: 480px)
  .newsletter
    input[type="email"]
      width: 200px

@media screen and (max-width: 360px)
  .newsletter
    padding: 0 10px
    input[type="email"], .button
      width: 100%
      margin-bottom: 10px
