<div class="fader"></div>
<div class="content">
  <div class="container">
    <div class='teaser'>
      <h2>Welcome to startup timelines</h2>
      <h1>History of Innovation</h1>
      <%= link_to 'View Timelines', '/timelines', class: 'button'%>
      <div class="share-section">
        <a href="javascript:void(0)" class="facebook-link icon-facebook"></a>
        <a href="javascript:void(0)" class="google-link icon-google"></a>
        <a href="javascript:void(0)" class="twitter-link icon-twitter"></a>
        <a href="javascript:void(0)" class="pinterest-link icon-pinterest"></a>
      </div>
    </div>
  </div>
</div>
<script>
  shares = new Share('/')
</script>
